__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
build/
dist/
feature_generator/target/
/runs/
/output/
*.tmp
data/space-weather/AE.csv
data/space-weather/solarwind.csv
data/orekit-data/.git/
